bootstrap.servers=192.168.211.12:9092
exclude.internal.topics=true
client.id=mirror_maker_consumer-cli-0
group.id=mirror_maker_consumer-cli-0
sasl.mechanism=PLAIN
security.protocol=SASL_PLAINTEXT
sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required \
username="abc" \
password="abc@123";

